body {
    font-family: arial, sans-serif;
    background-color: #f2f2f2;
    display: grid;
    grid-template-columns: 70% 30%;
    max-width: 1200px;
    margin: 0 auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #c7cc19;
    color: #fff;
    padding: 20px;
    text-align: center;
    grid-column: 1 / span 2;
}

nav {
    background-color: #ffa486;
    color: #fff;
    text-align: center;
    padding: 10px;
    grid-column: 1 / span 2;

}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;

}

nav ul li a {
    text-decoration: none;
}

.item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    grid-column: 1;
}

.item{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.item iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.item div button a{
    text-decoration: none;
    color: white;
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    text-align: center;
    
}

.card img {
    max-width: 100%;
    height: auto;
    transition: transform 0.5s ease;
}

.card:hover img {
    transform: scale(1.2);
}

.sidebar {
    background-color: #199cff;
    color: #fff;
    padding: 10px;
    grid-column: 2;
}

.social-icons {
    margin-top: 20px;
}

.social-icons a {
    color: #fff;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
}

@media(max-width:576px) {
    .item {
        grid-template-columns: 1fr;
    }

    .card {
        width: 100%;
        margin-bottom: 20px;
    }

    .sidebar {
        grid-column: 1 / span 2;
    }

    .footer {
        grid-template-columns: 1fr;
    }
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    grid-column: 1 / span 2;
    display: grid;
}

.footer-item {
    padding: 10px;
}

@media(min-width: 768px) {
    .footer {
        grid-template-columns: repeat(3, 1fr);
    }
}

.button {
    background-color: #04AA6D;
    color: white;
    border: none;
    padding: 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}

button:hover {
    background-color: #69d9ea;
    cursor: pointer;
}